@{
	ViewData["Title"] = "About";
}
<div class="container text-center">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>

    <video width="400" height="280" controls autoplay>
        <source src="~/images/HotelsImages/video.mp4" type="video/mp4">
    </video>
</div>