@{
	ViewData["Title"] = "About";
}
<div class="container text-center">
    <h2></h2>
    <h3></h3>

    

    <video height="400" style="margin-top:5rem" controls autoplay muted>
        <source src="~/images/HotelsImages/video.mp4" type="video/mp4">
    </video>
</div>