@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row search-form">
        <form action="/search" method="get" id="search-form">
            <div class="col-md-4">
                <div class="search-item">
                        <input type="text" autofocus="true" class="" name="place" placeholder="Hotel, City, Country...">
                </div>
            </div>
            <div class="col-md-3">
                <label>Enter date</label>
                <input id="endDate" class="" type="date" name="checkin" />
            </div>
            <div class="col-md-3">
                <label>Leave date</label>
                <input id="startDate" class="" type="date" name="checkout" />
            </div>
            <div class="col-md-2">
                <div class="input-group-btn search-item">
                    <button class="btn btn-info" type="submit" form="search-form">Search</button>
                </div>
            </div>
        </form>
    </div>

		<div class="form-group col-md-offset-5 text-center search-item">
			<button class="btn btn-info" type="button" onclick="showOrHideFeatures()">Try our special search</button>
		</div>

		<div class="col-md-12" id="featuresView" style="display: none">
			@Html.Partial("~/Views/_ViewFeatures.cshtml")
		</div>
	</div>
