@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row search-form">
        <div class="col-md-4">
            <div class="search-item">
                <form action="/search" method="get" id="search-form">
                    <input id="placeinput" required type="text" autofocus="true" class="form-control" name="place" placeholder="Hotel, City, Country...">
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <label>Check In</label>
            <input id="endDate" class="form-control" type="date" form="search-form" name="checkin" />
        </div>
        <div class="col-md-3">
            <label>Check Out</label>
            <input id="startDate" class="form-control" type="date" form="search-form" name="checkout"/>
        </div>
        <div class="col-md-2">
            <div class="input-group-btn search-item">
                <button id="placeinputbutton" class="btn btn-info" type="submit" form="search-form">Search</button>
            </div>
        </div>
    </div>

    <div class="form-group col-md-offset-5 text-center search-item">
        <button class="btn btn-info" type="button" onclick="showOrHideFeatures()">Try our special search</button>
    </div>

    <div class="col-md-12" id="featuresView" style="display: none">
        @Html.Partial("~/Views/_ViewFeatures.cshtml")
    </div>
</div>
