
@{
	ViewData["Title"] = "HotelView";
}


<ol>
		<li>
			<article class="container">
				<div class="col-md-6 col-md-offset-3">
					<img src="~/images/HotelsImages/1/image.jpg" class="img-fluid img-thumbnail" sizes="20"/>
				</div>
				<div>
					<div class="col-md-6 col-md-offset-3">
						<h2>
							Hilton
						</h2>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<h4>
							Hayarkon 55
						</h4>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-3">
					<h2 class="price">
						500
					</h2>
					<button>
						View Offer
					</button>
				</div>
			</article>
		</li>
	}

</ol>