<!DOCTYPE html>
<html>
    <head>
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/features.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/features.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <table dir="rtl">
            <tbody>
                <tr>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>מין</p>
                            <select asp-items="Html.GetEnumSelectList<Gender>()" class="form-control" id="gender">
                                <option>בחר/י</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>גיל</p>
                            <input class="form-control" id="age" placeholder="שנים"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>מצב משפחתי</p>
                            <select asp-items="Html.GetEnumSelectList<FamilyStatus>()" class="form-control" id="familyStatus">
                                <option>בחר/י</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>מקצוע</p>
                            <input class="form-control" id="profession" placeholder="שכיר/עצמאי"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>תחביב</p>
                            <input class="form-control" id="hobby" placeholder="שחיה/טיולים"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>ארץ מוצא</p>
                            <input class="form-control" id="contry" placeholder="מדינה"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>עיר מוצא</p>
                            <input class="form-control" id="city" placeholder="עיר במדינה"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>סוג היציאה</p>
                            <select class="form-control" id="kind">
                                <option>בחר/י</option>
                                <option value="solo">solo</option>
                                <option value="couple">couple</option>
                                <option value="friends">friends</option>
                                <option value="family">family</option>
                                <option value="other">other</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/features.js" asp-append-version="true"></script>
        </environment>
            -->
    </body>
</html>
