<!DOCTYPE html>
<html>
    <head>
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/features.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/features.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>Gender</p>
                            <select asp-items="Html.GetEnumSelectList<Gender>()" class="form-control" id="gender" form="pred" name="Gender">
                                <option>choose</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>Age</p>
                            <input class="form-control" id="age" placeholder="years" form="pred" name="Age"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>Family status</p>
                            <select asp-items="Html.GetEnumSelectList<FamilyStatus>()" class="form-control" id="familyStatus" form="pred" name="FamilyStatus">
                                <option>choose</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>Profession</p>
                            <input class="form-control" id="profession" placeholder="Independent/Employee" form="pred" name="Profession"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>Hobby</p>
                            <input class="form-control" id="hobby" placeholder="swimming/music" form="pred" name="hobby"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>Country of Origin</p>
                            <input class="form-control" id="country" placeholder="country"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>City of origin</p>
                            <input class="form-control" id="city" placeholder="city"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-11 form-group feature">
                            <p>Trip's purpose</p>
                            <select class="form-control" id="kind" form="pred" name="purpose">
                                <option>choose</option>
                                <option value="solo">solo</option>
                                <option value="couple">couple</option>
                                <option value="friends">friends</option>
                                <option value="family">family</option>
                                <option value="other">other</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
		<div class="text-center">
			<form action="/search/Predict" id="pred" method="post">
				<button class="btn btn-info col-md-4 col-md-offset-4">special search</button>
			</form>
		</div>
    </body>
</html>
