<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Login</h4>
        </div>
        <form action="/Home/Login" class="LoginAndRegisterForm" id="LoginForm" method="post">
            <div class="modal-body">
                <div class="form-group">
                    <label>Email address</label>
                    <input name="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="Password" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Sing in">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>

</div>